body {background-color: : "#D8D7D5"}

img{background-image: "./fondo.jpg";width: ="300";height: "300";border:2px solid black;}

h1 {text-decoration: underline green;text-decoration-color: "blue";font-style: italic;text-align: center;}

.texto  {text-align: justify;font-size: 12px;}

.subtitulo {font-style: oblique;font-family: serif;}
li{font-style: oblique}
