body {
  background-color:    #D8D7D5;

}


header {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: inherit;
}

.logo
{ width: 150px;
  height: 150px;
  border:2px  solid black;
  display: block;
  float:left;
}

.receta{
  width: 300px;
  height: 300px;
  border:2px  solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-decoration: underline green;
  color: blue;
  font-style: italic;
  text-align: center;}

.texto  {
  text-align: justify;
  font-size: 18px;}

.subtitulo {
  font-style: oblique;
  font-family: serif;
  position: relative;left:35px;}

li{
  position: relative;
  left:100px;}

.ubicacion {
  font-style: italic;
  font-weight: bold;
}

.boton {
    font-family: Helvetica;
    color: #1e2b2e;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 3px #000000;
    -moz-box-shadow: 0px 1px 3px #000000;
    box-shadow: 0px 1px 3px #000000;
    text-shadow: 1px 1px 3px #300530;
    border: solid #ffffff 2px;
    background: #CCBC9D;
    float: left;
}

.otrasrecetas {

  display: flex;
  padding-top: 50px;

}


.wp  {
  width: 65px;
  height: 65px;
  position: fixed;
  bottom: 90px;
  right: 40px;
}


.iconos {
    width: 80px;
    height: 80px;
    justify-content: space-between;
}

.redes {

    flex-wrap: wrap;
}

.mapabarrio{
  width:100px;
  height:100px;

}

.pie{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: inherit;
}
