body {background-color: : "#D8D7D5"}

img{width: ="300";height: "300";border:2px solid black;allign:center}

h1 {text-decoration: underline green;text-decoration-color: "blue";font-style: italic;text-align: center;}

.texto  {text-align: justify;font-size: 18px;background-image: ("./docs/assets/fondo.jpg");}

.subtitulo {font-style: oblique;font-family: serif;position: relative;left:35px;}

li{position: relative;left:100px;}

.ubicacion {font-style: italic;
  font-weight: bold;
}
